.layout {
  display: flex;
  height: 100vh;
  max-width: 100%;
  flex-direction: column;
}

.layout-children {
  flex: 1;
}

.layout-header-img {
  background-size: 100%;
  position: absolute;
  background-repeat: no-repeat;
  height: 100%;
  width: 100vw;
  min-width: 100%;
  z-index: -1;
}