.candies-container-left {
  display: flex;
  flex-direction: column;
  width: 600px;
  margin-left: 131px;
  align-items: space-between;
}

.candies-screen-container {
  display: flex;
  width: 90vw;
  margin: 120px auto 30px;
  background: linear-gradient(rgb(145, 145, 145), rgb(145, 145, 145)) no-repeat center/1px 90%;
}

.candy-each-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 0px 8px;
}

.edit-add-container {
  display: flex;
  width: 600px;
  margin-left: 100px;
}

.candies-text {
  font-size: 41px;
  /* width: 600px; */
  text-align: center;
  margin-bottom: 80px;
}