.App {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
}

html {
  margin: 0;
  padding: 0;
}