.candy-create-title {
  margin-bottom: 48px;
  text-shadow: .5px .5px 10px white;
}

.create-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
}

.create-form {
  display: flex;
  flex-direction: column;
}

.create-edit-price {
  display: flex;
  justify-content: space-between;
  margin-bottom: 22px;
}

.textarea-description {
  margin-bottom: 22px;
}

.create-input-img {
  margin-bottom: 22px;
  height: 40px;
}

.create-submit-container {
  display: flex;
  justify-content: flex-end;
}

.submit-button {
  width: 92px;
  height: 31px;
  font-size: 17px;
  font-weight: 500px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
}