.candy-create-title {
  margin-bottom: 48px;
  text-shadow: .5px .5px 10px white;
  font-weight: bold;
}

.create-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
}

.create-form {
  display: flex;
  flex-direction: column;
}

.create-edit-price {
  display: flex;
  justify-content: space-between;
  margin-bottom: 22px;
}

.create-form input, .create-form textarea {
  border-radius: 8px;
  border: none;
  background-color: #F2F2F2;
}

.add-input-name, .add-input-price {
  font-size: 14px;
  height: 40px;
  padding: 0px 10px;
}

.add-input-name {
  width: 250px;
}

.add-input-price {
  width: 200px;
}

.textarea-description {
  margin-bottom: 22px;
}

.create-input-img {
  margin-bottom: 22px;
  height: 40px;
  padding: 0px 10px;
}

.create-submit-container {
  display: flex;
  justify-content: flex-end;
}

.submit-button {
  width: 92px;
  height: 31px;
  font-size: 17px;
  font-weight: 500px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
}