.candy-edit-container  {
  display: flex;
  flex-direction: column;
  margin: 0px auto;
}

.candy-edit-text {
  margin-bottom: 48px;
}

.edit-form-thumbnails-container {
  display: flex;
  flex: 1;
}

.edit-form input, .edit-form textarea {
  border-radius: 8px;
  border: none;
  background-color: #F2F2F2;
}

.edit-form-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  width: 600px;
}

.edit-img-thumbnails-container {
  margin-left: 20px;
}

.input-name {
  width: 260px;
  height: 40px;
}

.input-price {
  width: 168px;
  height: 40px;
}

.textarea-description {
  width: 480px;
  height: 150px;
}

.edit-candy-image {
  width: 300px;
}

.candy-price {
  display: flex;
  justify-content: space-between;
  margin-bottom: 22px;
}

.image-container {
  margin-bottom: 69px;
}

.input-name, .input-price {
  padding-left: 10px;
}

.textarea-description {
  padding: 10px;
}

.input-name, .textarea-description {
  font-size: 15px;
}

.input-price {
  font-size: 20px;
}

.edit-input-img {
  margin-bottom: 22px;
  height: 40px;
}

.edit-save-button-container {
  display: flex;
  justify-content: flex-end;
}

.edit-save-button {
  width: 92px;
  height: 31px;
  font-size: 17px;
  font-weight: 500px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
}

.edit-candy-detail-image {
  margin-bottom: 10px;
}