


.icon {
  top: 808px;
  left: 158px;
  width: 39px;
  height: 39px;
  background: var(--unnamed-color-000000) 0% 0% no-repeat padding-box;
  background: #000000 0% 0% no-repeat padding-box;
  opacity: 1;
}
